

<div class="container">

<h1 style="text-align:center">About sportsDirect</h1> 


<img src="../../assets/weblogo2.jpg" style="margin-left:450px;" width=200px height=200px/>



<p><h3>Founded in 1982, Sports Direct International plc is today the India's largest sporting goods retailer by revenue, and operates a diversified portfolio of sports, fitness, fashion and lifestyle fascias and brands.

The Group’s strategy is to invest in our people and our key third party brand partners in order to elevate our retail proposition to attain new levels of excellence across our multi-brand, multi-channel offering to customers.

We aspire to be a leading sports and lifestyle retailer internationally and to deliver sustainable growth for our shareholders in the medium to long term by offering our customers an unrivalled range of high quality leading brands.

The Group provides a full multi-channel retail approach across its fascias in the India, and increasingly across its fascias in continental Europe and elsewhere. The Group also wholesales and licenses its Group Brands to partners in the UK, continental Europe, the Americas, and the Far East.


To see our latest Annual Report, please click here.</h3>




<br/>

<h1 style="text-align:center">Conatct us</h1> 

<p><h3>
Email: investor.relations@sportsdirect.com<br/><br/>

Sports Direct International plc<br/>
Unit A Brook Park East<br/>
nagpur<br/>
NG20 8RY<br/><br/>

Chennai<br/>
0344 245 9200<br/><br/>

Customer Service<br/>
Visit: http://www.sportsdirect.com/customerservices/contactus<br/><br/>

Online Customer Service<br/>
Email: cs@sportsdirect.com<br/><br/>

Careers<br/>
Email: careers@sportsdirect.com<br/>
<br/>
</h3>

</div>