

<div class="jumbotron" style="background-color:beige">
    
    <h1 >Admin Section</h1>
    <table align="center" cellpadding="20" style="margin-top:30px">

      <tr> 
        <td colspan="2" style="font-size:33px;">Product Section</td>
        <td colspan="2" style="font-size:33px;">User Section</td>
      </tr>
      
      <tr>
        <td colspan="2"><a class="btn btn-info"  style="width:300px;" href="/prodinfo">Go to product informaton</a></td>   
        <td colspan="2"><a class="btn btn-info"  style="width:300px;" href="/userinfo">Go to user information</a></td>         
      </tr> 
     

      <tr>
        <td colspan="2"><a class="btn btn-info" style="width:300px;" href="/newprod">Add New Product here</a></td>
        <td colspan="2"><a class="btn btn-info"  style="width:300px;" href="/new">Add new user</a></td>
      </tr>

      <tr>
        <td colspan="2"><a class="btn btn-info" style="width:300px;"  href="/prodgrid">Go to product greed</a></td>
        <td colspan="2"><a class="btn btn-info" style="width:300px;"  href="/mycart">Go to cart</a></td>
        
      </tr>
    
    
    
    </table>
    