


  
  <nav class="navbar navbar-dark bg-#f4d884" style="height:60px">

    <div style="margin-left:0px;">

      <img  src="../../assets/weblogo1.jpg"  alt="logo" width="180px" height=40px/>
    
    </div>

    <div style="margin-right:10">
      
      <a  style="color:black;float:right;width:105px" href ="/info">Contact Us</a>
      <a  style="color:black;float:right;width:80px" href ="/info">About Us</a>
      <a  style="color:black;float:right;width:70px;" href ="/home">Home</a>
      

    </div>

    
  <div class="dropdown" style="margin-right:20px">
    <button class="dropbtn">Categories</button>
    <div class="dropdown-content">
      <a href="/prod" >Football</a>
      <a href="/prod" target="_blank">Basketball</a>
      <a href="/prod" >Badminton</a>
      <a href="/prod" >Cricket</a>
      <a href="/prod" >Sports Wears</a>
    </div>
  </div>

  

    <div style="margin-right:0px;width:500px">

      <!-- <input type="text" class="form-control"   placeholder="Search here" name="search" /> -->
    
    </div>

    
      <a class="btn btn-secondary" style="float:right;width:100px;margin-right:10px;" href="/mycart"><i class="fa fa-cart-plus" aria-hidden="true"></i>MyCart</a>
      <div style="float:right;">
        <div class="dropdown1" style="float:right;width:50px;margin-right:10px;">
          <button class="dropbtn1"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
          <div class="dropdown1-content">
            <a class="btn btn-success" href="/reg" >Log In</a>
            <a class="btn btn-danger" (click)="logout()" >Log Out</a>
    
          </div>
        </div>
      </div>

  </nav> 

 


<router-outlet></router-outlet>

<br><br/>
<!-- --------- --------------------------footer ------------------------------------------------ -->
<div class="position-static">
  <footer class="page-footer font-small">
   
    <div class="container" >
      <div style="margin-left:500px;margin-bottom:25px">
      Follow us on :</div>

      <div class="row">
  
       
        <div class="col" >
          <div class="mb-5 flex-center">
  
            <a class="fb-ic" style="margin-left:350px">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="gplus-ic">
              <i class="fa fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <a class="li-ic">
              <i class="fa fa-linkedin-square fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
         
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
           
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
    
  
      </div>

  
    </div>
 
    <div class="footer-copyright text-center py-3">&#169; 2020 Copyright:
      <a href="https://sportscompany.com"> sportsDirectIndia.com</a>
    </div>

  
  </footer>
</div>




 



