<div class="jumbotron bg-secondary">

  <div style="float:right">
  <a class="btn btn-primary" href="/myaccount,id">My Account</a></div>
  
<div class="container-fluid" style="margin-left:80px;align-items:center;height:50%;width:80%">
<h2  class="container bg-info" style="margin-left:40px;text-align:center;color:black">Sports Categories Available</h2>

<table>

  <tr class="table-primary">
               
    <td colspan="2"><a class="btn" href="/grid"><img src="../../assets/football.jpg" title="Football Section" height=300px width=630px></a></td>
    <td><a class="btn" href="/grid"><img src="../../assets/badminton.jpg" title="Badminton section" height=300px width=400px></a></td>
  </tr>

  <tr class="table-success">
 
    <td><a class="btn" href="/grid"><img src="../../assets/cricket.jpg" title="Cricke Section" height=300px width=400px ></a></td>
    <td rowspan="2"><a class="btn" href="/grid"><img src="../../assets/basketball.jpg" title="Basketball section" height=600px width=200px></a></td>
    <td><a class="btn" href="/grid"><img src="../../assets/clothes.jpg" title="Jersy section" height=300px width=400px></a></td>
  </tr>

  <tr class="table-info"> 
    
    <td><a class="btn" href="/grid"><img src="../../assets/gym.jpg" title="Gym equipments" height=300px  width=400px></a></td>
    
    <td><a class="btn" href="/grid"><img src="../../assets/shoes.jpg" title="Shoes section" height=300px width=400px></a></td>
  </tr>



</table>




</div> 
<br/>

<h2 style="color:crimson;text-align:center;">Matches Today </h2>
<div class="jumbotron bg-secondary" style="margin-left:60px">
  <div id="demo" class="carousel slide" data-ride="carousel">

  
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/basketballmatch.jpg" alt="lakers vs Clippers" width="1100" height="450">
      </div>
      <div class="carousel-item">
        <img src="../assets//cricketmatch.jpg" alt="India vs England" width="1100" height="450">
      </div>
      <div class="carousel-item">
        <img src="../assets/footmatch.jpg" alt="barcelona vs stock city" width="1100" height="450">
      </div>
      <div class="carousel-item">
        <img src="../assets/badmintonmatch.jpg" alt="india vs japan" width="1100" height="450">
      </div>
    </div>
    
    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <script>

    
$('#mainCarousel').carousel({
interval: 30,
});	
  </script> 
</div>

</div>




















